[Desktop Entry]
Name=Stocks
Path=/full/path/to/repo
Exec=gnome-terminal --window --full-screen -- bash -c './stocks'
Icon=/full/path/to/repo/icon.png
Terminal=false
Type=Application
Categories=Utility;
